<aside class="left-sidebar sidebar">
    <div class="widget-left widget">
        <span class="widget-title">Remnant-Zero</span>
        <table style="text-align:center;">
            <tr>
                <td>Exp Rate : </td>
                <td>x10</td>
            </tr>
            <tr>
                <td>ZP Rates : </td>
                <td>Based on VIP Level</td>
            </tr>
            <tr>
                <td><a href="RemnantZero.aspx">Updates</a></td>
                <td><a href="Downloads.aspx">Download</a></td>
            </tr>
        </table>
    </div>
    <div class="widget-left widget">
        <span class="widget-title">Remnant-Eudemons</span>
        <table style="text-align:center;">
            <tr>
                <td>Exp Rate : </td>
                <td>x2</td>
            </tr>
            <tr>
                <td>EP Rates : </td>
                <td>Based on VIP Level</td>
            </tr>
            <tr>
                <td><a href="RemnantEudemons.aspx">Updates</a></td>
                <td><a href="Downloads.aspx">Download</a></td>
            </tr>
        </table>
    </div>
</aside>