<header class="header">
    <div class="logo">
        <a href="/"></a>
    </div>
    <div class="header-bottom-block flex-s-c">
        <ul class="menu">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/']">Forums</a></li>
            <li><a [routerLink]="['/']">Downloads</a></li>
            <li><a [routerLink]="['/']">Register</a></li>
            <li><a [routerLink]="['/']">Rules</a></li>
            <li><a [routerLink]="['/']" target="_blank">EPvP</a></li>
        </ul>
    </div>
    <!-- header-bottom-block -->
    <div class="sparks sparks-1">
    </div>
    <!-- sparks -->
    <div class="sparks sparks-2">
    </div>
    <!-- sparks -->
    <div class="sparks sparks-3">
    </div>
    <!-- sparks -->
    <div class="lava">
    </div>
    <div class="highlight">
    </div>
    <div class="circle circle1">
    </div>
    <div class="circle circle2">
    </div>
    <div class="ray-1">
    </div>
    <div class="ray-2">
    </div>
</header>