<aside class="right-sidebar sidebar">
    <div class="w-buttons">
        <a [routerLink]="[ '/download']" class="download">
            <span>Download</span> Client 1-3GB
        </a>
        <a [routerLink]="[ '/register']" class="registration">
            <span>Register</span>
        </a>
    </div>
    <!-- w-buttons -->
    <div class="widget-right widget">
        <span class="widget-title">Server Status</span>
        <div class="server-block">
            <div class="server flex-c jz">
                <div class="server-name">
                    Remnant-Zero
                </div>
                <div class="progress">
                    <span class="progress-bar" style="width: 10%;"></span>
                </div>
                <div class="flex-s-c s-on">
                    <a href="" class="desc">Server Details
                            <div class="desc-block">
                                Level at 50% EXP, ZP Rates Based on VIP
                            </div>
                        </a> <span><span id="server_status_zero">Online</span></span>
                </div>
            </div>
        </div>
        <div class="server-block">
            <div class="server flex-c eu">
                <div class="server-name">
                    Remnant-Eudemons
                </div>
                <div class="progress">
                    <span class="progress-bar" style="width: 10%;"></span>
                </div>
                <div class="flex-s-c s-on">
                    <a href="" class="desc">Server Details
                            <div class="desc-block">
                                Level at 50% EXP, EP Rates Based on VIP
                            </div>
                        </a> <span><span id="server_status_eu">Online</span></span>
                </div>
            </div>
        </div>
    </div>
    <!-- widget -->
</aside>