<main class="content">
    <div class="news">
        <div class="news-title">
            <a href="#">Remnant-Eudemons</a>
        </div>
        <p>
            Patch 1001,1002,1003 Released back to back. Sorry for this but it adds items to the Shopping Mall to help you get started with equipment. This also updated the game launcher, so manually download the patches here. Patch 1001,1002,1003 Released back to
            back. Sorry for this but it adds items to the Shopping Mall to help you get started with equipment. This also updated the game launcher, so manually download the patches here. Patch 1001,1002,1003 Released back to back. Sorry for this but
            it adds items to the Shopping Mall to help you get started with equipment. This also updated the game launcher, so manually download the patches here. Patch 1001,1002,1003 Released back to back. Sorry for this but it adds items to the Shopping
            Mall to help you get started with equipment. This also updated the game launcher, so manually download the patches here. Patch 1001,1002,1003 Released back to back. Sorry for this but it adds items to the Shopping Mall to help you get started
            with equipment. This also updated the game launcher, so manually download the patches here. Patch 1001,1002,1003 Released back to back. Sorry for this but it adds items to the Shopping Mall to help you get started with equipment. This also
            updated the game launcher, so manually download the patches here. Patch 1001,1002,1003 Released back to back. Sorry for this but it adds items to the Shopping Mall to help you get started with equipment. This also updated the game launcher,
            so manually download the patches here.
        </p>
        <div class="news-info flex-s-c">
            <div class="date">
                Date: <span>October 16, 2019</span> at <span>21:35</span>
            </div>
        </div>
    </div>

</main>